html {
  background-color:dimgray;
  margin: 0;
  padding: 0;
}

#rectangle {
  width:100%;
  height:100%;
  position: absolute;
}


#first-row  {
  width:100%;
  height: 50%;
}

#second-row {
  width: 100%;
  height: 50%;
}

#picture {
  margin: 5px;
  width: 33%;
  height: 100%;
  font-size: 60px;
}

#text-box {
  font-size: 58px;
  color:antiquewhite;
  line-height: 110%;
  width: 33%;
  height: 100%;
  padding: 25px;
  border-radius: 10%;
  transition: all 0.5s ease-in-out;
  background-color: hsla(12, 93%, 63%, 0.89);
  position: relative;
  z-index: 6;
  box-sizing: border-box;
}
.icon {
  width:10%;
  float: right;
  position: relative;
  display: inline;
}

img {
  filter: hue-rotate(12.12rad) contrast(110%) saturate(170%);
  border-radius: 10%;
  width: 100%
}


img:hover {
  filter:brightness(100%) contrast(110%) hue-rotate(5.5rad) saturate(170%);
}


#text-box:hover {
  transform:scale(1.2);
}

.right {
  float:right;
}

.icons, h1 {
  text-align:center;
}

.icons {
  width: 15%
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}
